---
import Layout from '/src/layouts/layout.astro'
import Paginator from "/src/components/courses/Paginator.astro"
const posts = await Astro.glob('*.md'); // returns an array of posts that live at ./src/pages/post/*.md
---

<div>
{posts.slice(0, 3).map((post) => (
  <article>
    <h1>{post.frontmatter.title}</h1>
    <p>{post.frontmatter.description}</p>
    <a href={post.url}>Read more</a>
  </article>
))}
</div>
